.workGrid{

    display: grid;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
    grid-template-areas: "image1 text1"
                        "image2 text2"; 
    }
img{
    max-width: 100%;
}
@media only screen and (max-width: 600){
    .workGrid{
        grid-template-rows: 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "image1"
        "text1"
        "image2"
        "text2"
        ;
    }
}